
.overlay {
  //background-image: url(../../../public/img/Menu/bacgroundBurger.jpg);
}

.active {
  width: 247px;
  height: 50px;
  padding: 5px;
  padding-top: 10px;
  box-sizing: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("popup-menu-nav-active.svg");
  &__noactive {
    width: 247px;
    height: 50px;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("popup-menu-nav.svg");
  }
}

.header {
  &__title {
    position: relative;
    text-align: center;
    background-position: top;
    background-image: url("topHeading.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
  }
  &__titleTop {
    padding-top: 7px;
    text-align: center;
  }
}
.thumbVertical {
  background-position: center;
  width: 16px !important; /* Изменение ширины бегунка */
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  background-image: url('../../../public/img/scroll.svg');
}

.thumbVertical:hover {
  cursor: pointer;
}



