.overlay {
  background-image: url(../../../public/img/Menu/bacgroundBurger.jpg);
}

.active {
  width: 247px;
  height: 50px;
  padding: 5px;
  box-sizing: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("popup-menu-nav-active.svg");
  &__noactive {
    width: 247px;
    height: 50px;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("popup-menu-nav.svg");
  }
}

.header {
  &__titleTop {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    z-index: 1;
    background-image: url(../../../public/img/header/header-navTop.svg);
  }
}