.intouch-list-el {
    transition: opacity 0.6s, transform 0.6s;
    opacity: 0;
    transform: rotate(-25deg) translateY(-40px);
}

.intouch-list-el.visible {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
}
