@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/cy-grotesk-wide-light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/cy-grotesk-wide-regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/cy-grotesk-wide-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/cy-grotesk-wide-demi.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Grotesk';
  src: url(../../fonts/cy-grotesk-wide-bold.ttf);
  font-weight: 700;
}


:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}


body {
  background-color: #1E1E1E;
}