.burger {
  background-image: url('../../../public/img/header/burger-white.webp');
  &__white {
    background-image: url('../../../public/img/header/burger-black.webp');
  }
}
.header {
  &__text {
    color: black;
  }
  &__callback {
    background: #1E1E1E;
  }
}

.buttons__language {
  color: #1E1E1E;
}