.image {
  //background-image: url(../../../../../public/img/home/first.png);
  &__slider {
    
    height: 528px;
    width: 528px;
    background-repeat: no-repeat;
    background-size: contain;
    //background-image: url(../../../../../public/img/home/img.png);
  }
}
.buttons {
  padding: 32px;
  width: 100%;
  position: absolute;
  bottom: 25px;
  margin-top: 50px;
  display: flex;
  //justify-content: space-between;
}
.button__slider {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-image: url(../../../../../public/img/home/arrow-circle-left.svg);
  &_right {
    @extend .button__slider;
    rotate: 180deg;
  }
}
