.slick-dots img {
    max-width: 800px;
    width: 72px !important;   /* Измените ширину иконки */
    height: 67px !important;  /* Измените высоту иконки */
}
.mycustom  li {
    position: relative !important;
    width: 72px;
    height: 69px;
    justify-content: center;

}
.slick-dots {
    bottom: -13px;
    position: relative;
}
.slider__div {
    max-height: 500px;
}
.slider__img {
    max-height: 500px;
}
.slick-track {
    display: flex;
    gap: 10px;
}